@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <div class="w-full" id="nav-content">
        <ul class="list-reset lg:flex  items-center self-auto">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="mr-3">
                    <a id="manage" class="inline-block py-2 px-4 text-gray-50 font-bold no-underline" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @UserManager.GetUserName(User)!</a>
                </li>
                <li class="mr-3">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button id="logout" type="submit" class="inline-block text-gray-50 no-underline hover:text-gray-100 hover:text-underline py-2 px-4">Salir</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="inline-block text-gray-50 no-underline hover:text-gray-100 hover:text-underline py-2 px-4" id="register" asp-area="Identity" asp-page="/Account/Register">Registrar Usuario</a>
                </li>
            }
            else
            {

            }
        </ul>
    </div>

