@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20" id="nav-content">
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="mr-3">
                    <a id="manage" class="inline-block py-2 px-4 text-gray-50 font-bold no-underline" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @UserManager.GetUserName(User)!</a>
                </li>
                <li class="mr-3">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button id="logout" type="submit" class="inline-block text-gray-50 no-underline hover:text-gray-100 hover:text-underline py-2 px-4">Salir</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="inline-block text-gray-50 no-underline hover:text-gray-100 hover:text-underline py-2 px-4" id="register" asp-area="Identity" asp-page="/Account/Register">Registrar nuevo</a>
                </li>
            }
            else
            {

            }
        </ul>
    </div>

    @*<ul class="list-reset lg:flex justify-end flex-1 items-center">
        <li class="mr-3">
            <a class="inline-block py-2 px-4 text-gray-900 font-bold no-underline" href="#">Active</a>
        </li>
        <li class="mr-3">
            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="#">link</a>
        </li>
        <li class="mr-3">
            <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="#">link</a>
        </li>
    </ul>*@

