@page
@model ProTrailers.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="card shadow-xl">
                <div class="card-header text-gray-700 text-2xl font-bold">Editar</div>
                <div class="card-body">
                    <a asp-page="Index" title="Regresar"><button class="btn text-white bg-yellow-500 hover:bg-yellow-400 btn-sm font-bold px-3 py-2"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</button></a>

                    <br />
                    <br />
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Movie.MovieId" />
                        <div class="form-group">
                            <label asp-for="Movie.Titulo" class="control-label"></label>
                            <input asp-for="Movie.Titulo" class="form-control" />
                            <span asp-validation-for="Movie.Titulo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Movie.Genero" class="control-label"></label>
                            @*<input asp-for="Movie.Genero" class="form-control" />*@
                            <select asp-for="Movie.Genero" class="form-control">
                                <option value="" disabled="" selected=""></option>
                                <option value="Drama">Drama</option>
                                <option value="Comedia">Comedia</option>
                                <option value="Suspenso">Suspenso</option>
                                <option value="Acción">Acción</option>
                                <option value="Ciencia Ficción">Ciencia Ficción</option>
                                <option value="Terror">Terror</option>
                                <option value="Musicales">Musicales</option>
                                <option value="Bélico">Bélico</option>
                                <option value="Aventura">Aventura</option>
                                <option value="Aventura">Documental</option>
                                <option value="Aventura">Western</option>
                            </select>
                            <span asp-validation-for="Movie.Genero" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Movie.Sinopsis" class="control-label"></label>
                            <textarea asp-for="Movie.Sinopsis" class="form-control"></textarea>
                            <span asp-validation-for="Movie.Sinopsis" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Movie.Director" class="control-label"></label>
                            <input asp-for="Movie.Director" class="form-control" />
                            <span asp-validation-for="Movie.Director" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Movie.Fecha" class="control-label"></label>
                            <input asp-for="Movie.Fecha" class="form-control" />
                            <span asp-validation-for="Movie.Fecha" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Movie.Video" class="control-label"></label>
                            <input asp-for="Movie.Video" class="form-control" />
                            <span asp-validation-for="Movie.Video" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Actualizar" class="btn text-white bg-blue-600 hover:bg-blue-700 font-bold text-lg px-5" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
