@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="w-full flex flex-wrap">


    <div class="w-full md:w-1/2 flex flex-col">
        
        <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
            <p class="text-center text-4xl font-bold text-gray-900">Bienvenido</p>
            <form class="flex flex-col pt-3 md:pt-8" id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="flex flex-col pt-4">
                    <label class="text-lg" asp-for="Input.Email"></label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline form-control" asp-for="Input.Email" class="form-control" />
                    <span class="invalid-feedback"  asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="flex flex-col pt-4">
                    <label class="text-lg" asp-for="Input.Password"></label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline form-control" asp-for="Input.Password" class="form-control" />
                    <span class="invalid-feedback"  asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-check mt-8">
                        <label class="form-check-input" class="text-lg" asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                </div>

                <button type="submit" class="bg-gray-800 rounded-lg text-white font-bold text-lg hover:bg-gray-900 p-2 mt-8">Log in</button>
               
                <div class="form-group my-4">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <div class="w-1/2 ">
        <img class="object-cover w-full hidden md:block" src="~/img/bg.svg">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
